@import "varriable";
@import "fonts";



ul {
  padding: 0;
  list-style: none;
  margin: 0;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: $base-col;
  font-family: $fontBase, sans-serif;
  font-weight: 500;
  font-size: 14px;
}

img {
  max-width: 100%;
}

//form input button
button:hover, button:focus {
  outline: none;
}

button {
  font-family: $fontBase, sans-serif;
  @extend .cur-p;
  //form input button
}

a {
  text-decoration: none;
}



//+-+-+-+-+-+-+-+-+-+- | fonts | +-+-+-+-+-+-+-+-+-+-

h1, h2, h3, h4, h5, h6, p {
  font-weight: 500;
  margin: 0;

  .no-margin {
    margin: 0;
  }
}

.h1, h1 {
  font-size: 32px;
}

h2, .h2 {
  font-size: 26px;
}

h3, .h3 {
  font-size: 18px;
}

h4, .h4 {
  font-size: 1.5rem;
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1rem;
}

@media screen and (max-width: 575px) {
  .h1, h1 {
    font-size: 1.75rem;
  }

  h2, .h2 {
    font-size: 1.5rem;
  }

  h3, .h3 {
    font-size: 1.2rem;
  }

  h4, .h4 {
    font-size: 1.3rem;
  }

  h5, .h5 {
    font-size: 1.1rem;
  }

  h6, .h6 {
    font-size: 1rem;
  }
  //fonts
}


@media screen and (max-width: 479px) {
  .h1, h1 {
    font-size: 1.2rem;
  }

  h2, .h2 {
    font-size: 1rem;
  }

  h3, .h3 {
    font-size: 1rem;
  }

  h4, .h4 {
    font-size: 1.2rem;
  }
  //fonts
}


.txt-editor {
  line-height: (26/16);

  h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 0.5rem;
  }

  ul {
    list-style: disc;
    padding: initial;
    margin-bottom: .5rem;
  }
}

